.table {
  margin-top: 38px;
  .tableOfCommerce {
    thead {
      tr {
        th {
          text-align: left;
          &:first-child {
            padding-left: 82px;
          }
        }
      }
    }
    tbody {
      tr {
        &:last-child {
          td {
            background: rgba(133, 117, 74, 0.31);
            color: $black;
          }
        }
      }
      td {
        text-align: left;
        &:first-child {
          padding-left: 82px;
        }
      }
    }
  }
}
