.footer {
  .footer-wrapper {
    padding: 23px 32px;
    background: $grey-hover;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 859px) {
      padding-right: 10px;
      padding-left: 10px;
    }
    .copyright {
      color: $grey;
      font-size: 0.7143rem;
      text-transform: uppercase;
      &:hover {
        color: $yellow;
      }
    }
    .social-block {
      display: flex;
      justify-content: space-between;
      .social-item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid $grey;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 24px;
        box-sizing: border-box;
        &:last-child {
          margin-right: 0;
        }
        @media (max-width: 859px) {
          margin-right: 10px;
        }
        svg {
          fill: $grey;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          border-color: $yellow;
          svg {
            fill: $yellow;
          }
        }
      }
    }
  }
}
